/* Estilos gerais */

:root {
  --sans-font: 'Roboto', 'Segoe UI', 'Arial', sans-serif;
  --font-size: 18px;
}  

body {
  line-height: 140%;
  color: rgb(51, 51, 61);
}

span {
  color: black !important;   
  /* Isto é para corrigir um bug do editor que mantém o estilo color quando colamos um texto colorido */
}

/* Estilos de lista */

ol {
  counter-reset: list;
}

ol li {
  --list-style: lower-alpha;
  list-style: none;
  position: relative;
}

ol[style*="list-style-type: decimal;"] li {
  --list-style: decimal;
}

ol[style*="list-style-type: lower-alpha"] li {
  --list-style: lower-alpha;
}

ol[style*="list-style-type: upper-alpha"] li {
  --list-style: upper-alpha;
}

ol[style*="list-style-type: lower-roman"] li {
  --list-style: lower-roman;
}

ol > li::before {
  counter-increment: list;
  position: absolute;
  left: -1.4em;
}

ol > li::before {
  content: counter(list, var(--list-style)) ") ";
}


/* Estilo de parágrafo numerado */

body {
  counter-reset: paragraph 1;
}

p.num {
  --indent: 1;
  text-indent: calc(var(--indent) * 1em);
}

p:not(:first-child).num:before {
  position: relative;
  left: calc(var(--indent) * -1em);
  content: counter(paragraph) ". ";
  counter-increment: paragraph;
}

p:first-child {
  text-indent: 0;
} 

/* Estilos de títulos */

h1, h3 {
  font-family: var(--sans-font);
}

h1, h2, h3 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h1 {
  font-size: 100%;
  font-weight: 600;
  text-transform: uppercase;  
}

h2 {
  font-size: 100%;
  font-weight: 700;
}

h3 {
  font-size: 100%;
  font-weight: 400;
}

h1 + p,
h2 + p,
h3 + p {
  margin-top: 0.5em;
}

/* Estilo de assinatura */

h6 {
  font-size: 100%;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Estilo talking point */

p.tp,
p.infotp {
  margin-left: 2em;
  text-indent: 0 !important;
  position: relative;
}

p.tp::before {
  position: absolute;
  left: -2em !important;
  content: ">>" !important;
}

p.infotp {
  font-style: italic;
}

p.infotp::before {
  content: "" !important;
}

p.infotp > em {
  font-style: normal;
} 

/* Estilos de tabela */

table {
  min-width: 75%; 
  margin: 0 auto; /* Centraliza a tabela */
  font-family: var(--sans-font);
  font-size: 95%; 
  font-variant-numeric: tabular-nums;
}

table > caption {
  font-weight: 500;
  margin-bottom: 0.25em;
}

table > caption > strong,
table > caption > b,
table > caption > p > strong,
table > caption > p > b {
  font-weight: 400;
}

table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td {
  font-weight: 500;
}

table > thead > tr > th > strong,
table > thead > tr > td > strong,
table > tbody > tr > th > strong,
table > tfoot > tr > td > strong {
  font-weight: 400;
}

table > thead > tr:last-of-type > th,
table > thead > tr:last-of-type > td,
table > tbody > tr > th {
  border-bottom: 2px solid black;
}

table > tfoot > tr:first-of-type > td {
  border-top: 2px solid black;
}

td, 
th {
  border-left: 1px dotted gray;
  border-right: 1px dotted gray;
  padding: 0.2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  min-width: 1em;
}

table > thead > tr > th:not(:first-of-type),
table > thead > tr > td:not(:first-of-type),
table > tbody > tr > th:not(:first-of-type),
table > tbody > tr > td:not(:first-of-type),
table > tfoot > tr > td:not(:first-of-type) {
  padding-left: 0.5em;
}

table > thead > tr > th:not(:last-of-type),
table > thead > tr > td:not(:last-of-type),
table > tbody > tr > th:not(:last-of-type),
table > tbody > tr > td:not(:last-of-type),
table > tfoot > tr > td:not(:last-of-type) {
  padding-right: 0.5em;
}


td:last-child,
th:last-child,
th.right,
td.right {
  text-align: right;
}

td.left,
th.left {
  text-align: left;
}

td.center,
th.center {
  text-align: center;
}

td > p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Estilo "telegrama" (pre) */

pre,
code {
  font-family: 'Roboto Mono';
  font-size: 0.95em;
}